<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/nav'); -%>

    <main>

        <form action="/register/input" method="POST">
            <label for="">Date</label>
            <input type="date" name="date" id="" required>
            <label for="">Time</label>
            <input type="datetime" name="time" placeholder="Time" required>
            <label for="">Range</label>
            <input type="range" name="range" value=0 required>
            <button type="submit">Enter</button>
        </form>

    </main>

    <button onclick="history.back()">Go Back</button>

    <%- include('layouts/scripts'); -%>

</body>

</html>
