<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

    <%- include('layouts/nav'); -%>

    <main>

        <form action="/user/signup" method="POST">
            <label for="">Name</label>
            <input type="text" name="name" class="email" placeholder="Name" required>
            <label for="">Email</label>
            <input type="email" name="email" class="email" placeholder="Email" required>
            <label for="">Country</label>
            <input type="text" name="country" class="email" placeholder="Country" required>
            <label for="">Contact</label>
            <input type="text" name="contact" class="email" placeholder="Contact" required>
            <label for="">Password</label>
            <input type="password" name="pwd" class="password" placeholder="Password" id="" required>
            <button type="submit">Sign Up</button>
        </form>

    </main>

    <button onclick="history.back()">Go Back</button>

    <%- include('layouts/scripts'); -%>

</body>

</html>
